# Dependencies
node_modules/
pnpm-lock.yaml

# Build outputs
dist/
build/

# Tauri/Backend
src-tauri/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.min.js
*.min.css

# GitHub workflows
.github/actions/
.github/workflows/

# Submodules
libs/