<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">

<policyconfig>
  <vendor>AORUS Control Center</vendor>
  <vendor_url>https://github.com/jokelbaf/gigabyte-cc</vendor_url>

  <action id="com.aorus.controlcenter.control">
    <description>Control AORUS laptop hardware</description>
    <message>Authentication is required to control laptop hardware settings</message>
    <icon_name>preferences-system</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/aorus-cc/aorus-helper</annotate>
  </action>
</policyconfig>
