name: Format Rust Code

on:
  push:
    branches:
      - master

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            libwebkit2gtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev

      - name: Set up Rust
        run: |
          rustup update nightly
          rustup default nightly
          rustup component add rustfmt

      - name: Generate build artifacts
        working-directory: src-tauri
        run: cargo check --all

      - name: Format code
        working-directory: src-tauri
        run: cargo fmt --all

      - name: Commit and push if needed
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          if ! git diff --quiet; then
            git add .
            git commit -m "style: Auto-format via cargo fmt"
            git push
          fi