name: Create Release
on:
  push:
    branches: [master]
    paths:
      - 'src-tauri/Cargo.toml'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: jokelbaf/rust-release@master
        with:
          manifest_path: 'src-tauri/Cargo.toml'
